Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^api(/.*)?$ index.php [QSA,L]
  RewriteRule ^$ index.php [QSA,L]
</IfModule>

<IfModule mod_headers.c>
  Header always set Access-Control-Allow-Origin "https://jarvis.juninnzxtec.com.br"
  Header always set Access-Control-Allow-Credentials "true"
  Header always set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
  Header always set Access-Control-Allow-Headers "Content-Type, Authorization"
  Header always set X-Content-Type-Options "nosniff"
</IfModule>
